In [ ]:
import pandas as pd
import os
from data_preparation import prepare_triplogs, prepare_tripdatas, get_clean_triplogs, get_clean_tripdatas, add_columns_to_prepared_triplogs

In [ ]:
data_dir = "../2020_11_8_to_2020_11_14"

In [ ]:
!ls ../2020_11_8_to_2020_11_14/CMS

In [ ]:
tripdatas_df = pd.read_csv(os.path.join(data_dir, "CVP/tripdatas.csv"))

In [ ]:
triplogs_df = pd.read_csv(os.path.join(data_dir, "CVP/triplogs.csv"))

In [ ]:
triplogs_df = prepare_triplogs(triplogs_df)
tripdatas_df = prepare_tripdatas(tripdatas_df)

# takes about 10 minutes to run

tripdatas_df = get_clean_tripdatas(tripdatas_df) # cleaning tripdatas first is important
tripdatas_df_good = tripdatas_df[tripdatas_df["is_good_for_study"]]
triplogs_df = get_clean_triplogs(triplogs_df, tripdatas_df_good)
triplogs_df_good = triplogs_df[triplogs_df["is_good_for_study"]]

triplogs_df_good = add_columns_to_prepared_triplogs(triplogs_df_good, tripdatas_df_good)

In [10]:
triplogs_df_good[["clear_taveltime", "duration_timedelta", "time_spent_on_busstops"]].head()

          clear_taveltime     duration_timedelta time_spent_on_busstops
1  0 days 00:45:04.929000 0 days 01:07:51.034000 0 days 00:22:46.105000
3  0 days 00:53:06.896000 0 days 01:10:45.127000 0 days 00:17:38.231000
4  0 days 00:55:52.163000 0 days 01:05:33.813000 0 days 00:09:41.650000
5  0 days 00:47:39.833000 0 days 00:55:22.579000 0 days 00:07:42.746000
14 0 days 00:52:50.817000 0 days 01:02:57.660000 0 days 00:10:06.843000